*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
header.header {
    border-bottom: 1px solid black;
}
header.header button {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: SF UI Display;
    font-size: 25px;
    background: #fff;
    cursor: pointer;
    transition: background .4s,
    color .4s;
}
header.header button:hover {
    background: #000;
    color: white;
}
header.header button:active {
    background: #e7e7e7;
    color: black;
}