*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
header.header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
header.header a {
    margin: 20px;
}
header.header button {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: SF UI Display;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    transition: background .4s,
    color .4s;
}
header.header button:hover {
    background: #000;
    color: white;
}
header.header button:active {
    background: rgb(48, 239, 48);
    color: black;
}
.cont {
    font-family: SF UI Display;
}